.Map {
  position: relative;
  z-index: 1;
}

.DateInput {
  position: fixed;
  z-index: 2;
  top: 10px;
  right: 10px;
}

.DateInput > input {
  font-size: 12px;
  padding: 5px 7px;
  border: 2px solid #aaa;
  background-color: #eee;
  border-radius: 3px;
  color: black;
}

.DateInput > input:disabled {
  color: #666;
}
